.result-cards{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    align-items: center;

    display: flex;
    flex-direction: column;
    
    margin-left: 15px;
    margin-right: 15px;

    .result-card {
        width: 90%;
        padding: 20px;

        margin-bottom: 20px;

        border-radius: 15px;
        border: 1px solid black;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        cursor: pointer;
    }
}