* {
    margin: 0;
}

.main-container {
    display: flex;

    .app {
        flex: 1;

        .container {
            display: grid;
            grid-template-rows: 40% 60%;
            flex-direction: column;
            overflow: hidden;

            height: 100vh;
            width: auto;
            align-items: center;

            .header {
                display: grid;
                grid-template-rows: 1fr 1fr;
                height: 100%;

                img {
                    position: absolute;
                    opacity: 0.1;
                    overflow: hidden;
                    width: -webkit-fill-available;
                    height: -webkit-fill-available;
                    z-index: -1;
                }

                h1 {
                    font-size: 3rem;
                    font-weight: 900;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-around;
                }
            }
        }
    }
}