.search-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .search {
    width: 50%;
    position: relative;
    display: flex;
    margin-top: 30px;

    .searchTerm {
      width: 100%;
      border: 3px solid #2f2e41;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
      font-size: large;
    }

    .searchTerm:focus {
      color: #2f2e41;
    }

    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid #2f2e41;
      background: #2f2e41;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
  }
}