aside {
    background: #2f2e41;
    color: white;
    height: 100vh;
    overflow-y: auto;

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        margin-left: 15px;
        margin-right: 15px;

        .bars {
            align-items: center;
            display: flex;
            min-height: 28px;
        }
    }

    .sidebar-content {
        margin-top: 35px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .link {
            display: flex;
            color: white;
            gap: 10px;
            padding: 5px 10px;
            border-right: 4px solid transparent;
            transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            cursor: pointer;
            text-decoration: none;

            .link-to {
                font-size: 15px;
                color: white;
                font-weight: 800;
                font-size: larger;
                text-decoration: none;
            }
        }
    }
}